<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.management.mapper.BrandMapper">
    <!--  查询所有品牌  -->
    <select id="findAllBrands" resultType="Brand">
        select *
        from brand;
    </select>

    <resultMap id="BrandMap" type="Brand">
        <result column="brand_name" property="brandName"/>
    </resultMap>
    <!--  按照品牌名搜索品牌  -->
    <select id="findBrandByName" parameterType="String" resultMap="BrandMap">
        select *
        from brand
        where brand_name = #{brandName}
    </select>

    <!--  新增品牌  -->
    <insert id="insertBrand" parameterType="String">
        insert into brand(brand_name)
        values (#{brandName})
    </insert>

    <!--  删除品牌  -->
    <update id="deleteBrand" parameterType="int">
        update brand
        set deleted=1
        where brand_id = #{id}
    </update>
</mapper>