<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.management.mapper.GoodsMapper">
    <!--手动指定字段与实体属性的映射关系-->
    <resultMap id="GoodsMap" type="Goods">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="price" property="price"/>
        <result column="brand_name" property="brand.brandName"/>
        <result column="category_name" property="category.categoryName"/>
        <result column="sales" property="sales"/>
        <result column="inventory" property="inventory"/>
        <result column="add_time" property="addTime"/>
        <result column="update_time," property="updateTime"/>
        <result column="remarks," property="remarks"/>
        <result column="is_on_sale," property="isOnSale"/>
    </resultMap>

    <!--  查询所有商品  -->
    <select id="findAllGoods" resultMap="GoodsMap">
        select *
        from goods
                 inner join brand b on goods.b_id = b.brand_id
                 join category c on c.category_id = goods.c_id
        where goods.deleted = 0;
    </select>

    <!--  商品名搜索商品  -->
    <select id="findGoodsByName" parameterType="String" resultType="Goods">
        select *
        from goods
        where name = #{name}
    </select>

    <!--  品牌搜索商品  -->
    <select id="findGoodsByBrand" parameterType="String" resultMap="GoodsMap">
        select *
        from goods
                 inner join brand b on goods.b_id = b.brand_id
                 join category c on c.category_id = goods.c_id
        where goods.deleted = 0
          and goods.b_id = (select brand_id
                            from brand
                            where brand_name = #{brandName});
    </select>

    <!--  分类搜索商品  -->
    <select id="findGoodsByCategory" parameterType="String" resultMap="GoodsMap">
        select *
        from goods
                 inner join brand b on goods.b_id = b.brand_id
                 join category c on c.category_id = goods.c_id
        where goods.deleted = 0
          and goods.c_id = (select category_id
                            from category
                            where category_name = #{categoryName});
    </select>


    <!--  添加商品  -->
    <insert id="insertGoods" parameterType="Goods">
        insert into goods(name, price, c_id, b_id, sales, inventory, remarks)
        values (#{name}, #{price}, #{category.categoryId}, #{brand.brandId}, #{sales}, #{inventory}, #{remarks})
    </insert>

    <!--  删除商品  -->
    <update id="deleteGoods">
        update goods
        set deleted=1
        where id = #{id}
    </update>

    <!--  添加备注  -->
    <update id="addRemark">
        update goods
        set remarks=#{remarks}
        where id = #{id}
    </update>


</mapper>