<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.management.mapper.UserMapper">
    <!-- 查询所有用户 -->
    <select id="findAllUsers" resultType="User">
        select *
        from user;
    </select>

    <!-- 通过ID查询用户 -->
    <select id="findUserById" parameterType="int" resultType="User">
        select *
        from user
        where id = #{id}
    </select>

    <!-- 通过用户名查询用户 -->
    <select id="findUserByName" parameterType="String" resultType="User">
        select *
        from user
        where username = #{username}
    </select>

    <!-- 用户登录 -->
    <select id="login" parameterType="String" resultType="User">
        select *
        from user
        where username = #{username}
          and password = #{password}
    </select>

    <!-- 用户注册 -->
    <insert id="register" parameterType="String">
        insert into user(username, password)
        values (#{username}, #{password})
    </insert>

    <!--  修改用户权限  -->
    <update id="chmod" parameterType="int">
        update user
        set is_admin=1
        where id = #{}
    </update>

    <!--  删除用户  -->
    <update id="deleteUser" parameterType="int">
        update user
        set deleted=1
        where id = #{id}
    </update>
</mapper>
